/* Обнулення */
*{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

input,button,textarea{
	font-weight: inherit;
	font-size: inherit;
	color: inherit;
	font-family: inherit;    
}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{
    vertical-align: top;
    max-width: 100%;
}

blockquote, q {
    quotes:none;
}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

/* змінювати кольори відповідно до ваших потреб */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* змінювати кольори відповідно до ваших потреб */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* змінити колір рамки відповідно до ваших потреб */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/* ------------------------------------- */