*,
*::after,
*::before{
    box-sizing: border-box;
}
a{
    text-decoration: none; /* Уберает подчеркивание под ссылкой */
    color: inherit; /* Цвет наследуется от родительского класса */
}
body{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #0A0A0A;
}
img{
    object-fit: cover;
}
h1,h2,h3,h4,h5,h6{
    text-transform: uppercase;
}
.container{
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}
.phone{
    font-size: 24px;
    line-height: 29px;
    color: #717171;
}

/* Блок header */
.header{
    margin-bottom: 87px;
}
.header__top{
    padding: 42px 0;
    background-color: #0A0A0A;
    color: #717171;
    margin-bottom: 70px;
}
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__list{
    display: flex;
    font-size: 24px;
    line-height: 29px;
}
.menu__item + .menu__item{
    margin-left: 30px;
}
.header__top-link{
    margin-right: 90px;
}
.header__pledge{
    text-align: center;
}
.header__pledge-title{
    font-size: 64px;
    line-height: 77px;
    color: #490E84;
    margin-bottom: 40px;
}
.header__pledge-img{
    margin-bottom: 25px;
    width: 88%;
}
.header__pledge-btn{
    background-color: #490E84;
    border: 1px solid #490E84;
    border-radius: 30px;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    padding: 22px 118px;
    cursor: pointer;
}

/* Блок news */
.news{
    margin-bottom: 150px;
}
.news__title{
    font-size: 32px;
    line-height: 39px;
    color: #717171;
    text-align: center;
    margin-bottom: 50px;
}
.news__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.news__description{
    max-width: 600px;
}
.news__text + .news__text{
    margin-top: 30px;
}
.news__img{
    margin-right: 100px;
}

/* Блок colors */
.colors{
    margin-bottom: 150px;
}
.color__title{
    font-size: 32px;
    line-height: 39px;
    color: #717171;
    margin-bottom: 50px;
    text-align: center;
}
.colors__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.colors__item{
    text-align: center;
}
.colors__img{
    margin-bottom: 20px;
    transition: all .5s;
}
.colors__img:hover{
    transform: scale(1.20);
}
.colors__item-title{
    text-transform: capitalize;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 26px;
}

/* Блок order */
.order__inner{
    display: flex;
    align-items: center;
}
.order__form{
    max-height: 600px;
    background-color: #574B63;
    padding: 138px 0;
    text-align: center;
}
.order__title{
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    margin-bottom: 72px;
}
.order__input{
    width: 400px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #F5F5F5;
    margin-bottom: 30px;
    color: #fff;
    padding-bottom: 10px;
}
.order__input::placeholder{
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    opacity: 0.5;
}
.order__text{
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    opacity: 0.5;
    margin-bottom: 30px;
}
.order__btn{
    font-weight: 700;
    background: #FFFFFF;
    border-radius: 30px;
    border: 1px solid #FFFFFF;
    padding: 16px 81px;
    text-transform: uppercase;
    color: #490E84;
    cursor: pointer;
}

/* Блок footer */
.footer{
    background-color: #0A0A0A;
    padding: 66px 0;
}
.footer__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__link{
    color: #717171;
}

/* АДАПТАЦИЯ */
@media (max-width: 1045px){
    .order__inner{
        display: block;
    }
    .order__form{
        max-width: 600px;
        margin: 0 auto;
    }
    .order__img{
        display: none;
    }
}
@media (max-width: 1024px){
    .header__inner{
        display: block;
        text-align: center;
    }
    .menu__list{
        justify-content: center;
        margin-bottom: 20px;
    }
    .header__top-link{
        display: block;
        margin: 0 0 20px;
    }
    .news{
        margin-bottom: 70px;
    }
    .colors{
        margin-bottom: 70px;
    }
    .color__title{
        margin-bottom: 30px;
    }
    .colors__inner{
        flex-wrap: wrap;
        justify-content: center;
    }
    .colors__img{
        pointer-events: none;
    }
}

@media (max-width: 800px){
    .news__inner{
        flex-wrap: wrap;
        justify-content: center;
    }
    .news__title{
        margin-bottom: 30px;
    }
    .news__img{
        margin-right: 0;
        order: -1;
    }
    .colors__img{
        margin-bottom: 15px;
    }
    .colors__item-title{
        margin-bottom: 15px;
    }
    .colors__item-text{
        margin-bottom: 15px;
    }
}

@media (max-width: 634px){
    .header{
        margin-bottom: 40px;
    }
    .header__top {
        margin-bottom: 35px;        
    }
    .menu__list{
        font-size: 18px;
        line-height: 20px;
    }
    .phone {
        font-size: 18px;
        line-height: 20px;
    }
    .header__pledge-title{
        font-size: 38px;
        line-height: 42px;
    }
    .header__pledge-btn{
        font-size: 16px;
        line-height: 20px;
        padding: 20px 80px;
    }
    .order__form{
        padding: 50px 0;
    }
    .order__input{
        max-width: 50%;
    }
    .order__title {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 30px;
    }
    .footer{
        padding: 30px 0;
    }
    .footer__inner{
        flex-wrap: wrap;
        flex-direction: column;
        gap: 15px;
    }
}
@media (max-width: 414px){
    .news__img{
        width: 100%;
    }
    .colors__img{
        width: 100%;
    }
}